<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Wisdom●Dashboard</title>
  <link rel="stylesheet" href="/tailwind-demo/dist/output.css" />
  <link rel="stylesheet" href="../static/fontawesome-free-6.3.0-web/css/all.min.css">
</head>

<body>
  <div class="header-2">

    <nav class="bg-nick-bg text-white py-2 md:py-4 lg:px-0 bg-fixed">
      <div class="container px-4 mx-auto md:flex md:items-center">

        <div class="flex justify-between items-center">
          <img src="../static/img/me.jpg" alt="Nick" width="82px" height="82px" class="px-2 rounded-full">
          <div class="px-1">
            <a href="#" class="font-bold text-l text-white">Wisdom Emmanuel</a> &nbsp;<span class="active-status float-right">●</span><br>
            <a href="#" class="px-4 font-bold text-sm text-white">Admin Level 1</a>
          </div>
          <button
            class="border border-solid border-gray-600 px-3 py-1 rounded text-gray-600 opacity-50 hover:opacity-75 md:hidden"
            id="navbar-toggle">
            <i class="fas fa-bars"></i>
          </button>
        </div>

        <div class="hidden md:flex flex-col md:flex-row md:ml-auto mt-3 md:mt-0" id="navbar-collapse">
          
            <a href="#"
            class="p-2 lg:px-5 md:mx-2   text-white rounded bg-less-purple hover:bg-slate-800 hover:text-white transition-colors duration-300"><i class="fa-solid fa-bell px-3"></i>Notifications</a>
          <a href="#"

          <a href="#"
            class="p-2 lg:px-5 md:mx-2   text-white rounded bg-less-purple hover:bg-slate-800 hover:text-white transition-colors duration-300"><i class="fa-solid fa-gear px-3"></i>Settings</a>
          <a href="#"
            class="p-2 lg:px-4 md:mx-2  text-white rounded bg-less-purple hover:bg-slate-800 hover:text-white transition-colors duration-300"><i class="fa fa-sign-out px-3" aria-hidden="true"></i>Logout</a>
          <a href="#"
        </div>
      </div>
    </nav>
  </div>

<!-- ========================= sidebar =====================-->


</body>
<script src="/tailwind-demo/src/scripts/first.js"></script>

</html>